@use '../../scss/' as *;

.movie-card{
    position: relative;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 160%;
    border-radius: $border-radius;
    -webkit-border-radius: $border-radius;
    -moz-border-radius: $border-radius;
    -ms-border-radius: $border-radius;
    -o-border-radius: $border-radius;
    margin-bottom: 1rem;
   .btn{
       position: absolute;
       top: 50%;
       left: 50%;
       transform: translate(-50%, -50%) scale(0);
       -webkit-transform: translate(-50%, -50%) scale(0);
       -moz-transform: translate(-50%, -50%) scale(0);
       -ms-transform: translate(-50%, -50%) scale(0);
       -o-transform: translate(-50%, -50%) scale(0);
       transition: transform .3s ease, box-shadow .3s ease;
       -webkit-transition: transform .3s ease, box-shadow .3s ease;
       -moz-transition: transform .3s ease, box-shadow .3s ease;
       -ms-transition: transform .3s ease, box-shadow .3s ease;
       -o-transition: transform .3s ease, box-shadow .3s ease;
}
&::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: $black;
    opacity: 0;
    transition: opacity .3s ease;
    -webkit-transition: opacity .3s ease;
    -moz-transition: opacity .3s ease;
    -ms-transition: opacity .3s ease;
    -o-transition: opacity .3s ease;
    border-radius: $border-radius;
    -webkit-border-radius: $border-radius;
    -moz-border-radius: $border-radius;
    -ms-border-radius: $border-radius;
    -o-border-radius: $border-radius;
}
@media(hover:hover){
    &:hover::before{
        opacity: 0.8;
    }
    &:hover .btn{
        transform: translate(-50%, -50%) scale(1);
        -webkit-transform: translate(-50%, -50%) scale(1);
        -moz-transform: translate(-50%, -50%) scale(1);
        -ms-transform: translate(-50%, -50%) scale(1);
        -o-transform: translate(-50%, -50%) scale(1);
}

}
}